*{
  margin: 0%;
  padding: 0%;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
}


.ContainerName{
  margin: 0%;
  width: 100%;
  height: 280px;
  background-color: rgb(145, 114, 173);
  text-align: center;
}


.ImgName{
  width: 150px;
  height: 170px;
  border-radius: 50%;
  text-align: center;
}

.ContainerDescription{
  background-color: rgb(219, 204, 234);
  width: 80%;
  margin-top: 20px;
  margin-left: 38px;
  border-color: rgb(74, 9, 120);
  border-style: dashed;
}

